/* -------------------------------------- ESTILOS GENERALES PARA TODAS LAS PAGINAS -------------------------------------- */

body 
{
    background-color: wheat;                                /* Fondo de color wheat */
    font-family: "Century Gothic", sans-serif;                /* Fuente global */
    margin: 0;
    padding: 0;
}

/* -------------------------------------- INDEX.PHP - ESTILOS PARA LA PAGINA DE INICIO --------------------------------- */

.index-page 
{
    background-image: url('img/cecyte_fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.error-msg {
    color: rgb(0, 0, 0);
    background-color: #c5bfbf;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    width: 40%;
    font-weight: bold;
}


.logo-index {
    position: absolute;
    top: 20px;  /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}


/* Estilos para el contenedor principal de la página de inicio */

.container-index {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;                            /* Dos columnas iguales */
    align-items: center;                                       /* Alinear elementos verticalmente */
}

/* Estilo para el título */

.container-index h1 
{
    font-size: 2rem;                                           /* Tamaño de fuente */
    font-weight: bold;                                         /* Negrita */
    color: #333;                                             /* Color del texto */
    margin-bottom: 20px;                                       /* Espacio inferior */
    text-align: left;
}

.text-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;                                   /* Centra verticalmente */
}

/* Estilo para solo texto "Estudiante" */

.estudiante-index
{
    color: #6ABF4B; /* Verde */
    font-weight: bold;
}

/* Estilo para solo texto "Tutor" */

.tutor-index {
    color: #15a75e;                                          /* Verde más oscuro */
    font-weight: bold;
}

/* Estilo para el párrafo */

.container-index p 
{
    font-size: 1.2rem;                                         /* Tamaño de fuente */
    color: #000000;                                          /* Color del texto */
    margin-bottom: 0px;                                        /* Espacio inferior */
    text-align: left;
}

.p-index
{
    margin-top: 0px;
}   

.icons-index 
{
    font-size: 30px;
    margin-top: 20px;
}

.icons-index i 
{
    padding: 10px;
}

.login-index 
{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 400px;
    height: 500px;
    font-family: 'Century Gothic', sans-serif;
    justify-self: end; /* Lo manda a la derecha */
}

.escudo-ut {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción */
}

/* Estilo para el título "Iniciar Sesion"*/

.login-index h2
{
    margin-top: -20px;
}

.login-index p
{
    font-size: 12px;
    margin-top: 0;
}

/* Estilos generales para los inputs */

.input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo para el checkbox y su etiqueta */
.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remember-me input {
    margin-right: 8px;
}

/* Estilo para el botón */

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #6ABF4B;                               /* Color del boton */
    color: black;                                            /* Color del texto */
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;                                        /* Bordes redondeados */
    cursor: pointer;
    margin: 15px 0;
	transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #5AA837;                               /* Color del fondo al pasar el mouse al boton */
}

/* Estilo para el mensaje de contraseña olvidada */

.login-index .forgot-password p {
    font-size: 0.8rem;                                         /* Reduce el tamaño del texto */
    text-align: center;
}

.tutor-text {
    color: #15a75e;
    font-weight: bold;
}

/* ----------------------------------- REGISTER.PHP - ESTILOS PARA EL FORMULARIO DE REGISTRO ------------------------- */

/* Contenedor principal */

.register {

    background-image: url('img/cecyte_fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container-register {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Botones de selección de rol */
.role-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.role-btn {
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.role-btn.active, .role-btn:hover {
    background: #6ABF4B;
    color: rgb(0, 0, 0);
}

/* Formulario en dos columnas */
.form-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: left;
}

.form-column {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón Registrar */
.btn-submit {
    width: 50%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    background-color: #6ABF4B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #218838;
}

/* ----------------------------------- HEADER.PHP - ESTILOS PARA EL HOME DE INICIO ------------------------- */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


/* Aplica solo a home.php */
.header-page {
    background-image: url('img/cecyte_fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
	min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    margin: 0;
    padding: 0;
}

/* NAVBAR Y CONTENEDOR */
.header-page .navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color:#000;
    padding: 15px 10px;
	z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    transition: all .5s;
}

.header-page .navbar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}

.header-page .container {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 70px; /* Ajusta según el ancho del menú */
    width: calc(100% - 70px);
    transition: all .5s;
    z-index: 2;
}

.header-page .container h1 {
    display: inline-block;
    margin: 18px;
}

/* LOGO CONTAINER */
.header-page .logo-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-page .logo-container .logo-name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s;
}

.header-page .logo-container #btn-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}

/* ELEMENTOS MENU */
.header-page .nav-container {
    margin-top: 20px;
    height: 100%;
    padding-left: 0;
}

.header-page .nav-container li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

/* Tooltip */
.header-page .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 20px);
    z-index: 1001; /* Asegúrate de que esté por encima de otros elementos */
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: 0s;
}

.header-page .nav-container li:hover .tooltip {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s;
}

/* Search */
.header-page .nav-container li.search {
    display: flex;
    justify-content: center;
}

.header-page .nav-container input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 12px;
    background-color: #1B1B1D;
    transition: all .5s ease;
}

.header-page .nav-container input::placeholder {
    color: #fff;
}

.header-page .nav-container .bx-search {
    position: absolute;
    top: 38%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: #1B1B1D;
    color: #fff;
}

.header-page .nav-container .bx-search:hover {
    background: #fff;
    color: #11101d;
}

/* Enlaces del menu */
.header-page .nav-container li a {
    display: flex;
    height: 10%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    background-color:#000;
}

.header-page .nav-container li a:hover {
    background: #FFF;
}

.header-page .nav-container li a .links {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: .4s;
}

.header-page .nav-container li a:hover .links,
.header-page .nav-container li a:hover i {
    color: #000;
    transition: all .5s;
}

.header-page .nav-container li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

/* ESTILOS USER */
.header-page .user {
    display: flex;
    position: relative;
    height: 60px;
    width: 87%;
    padding: 10px 8px;
    background-color: #1B1B1D;
    border-radius: 12px;
    overflow: hidden;
    transition: all .5s ease;
}

.header-page .user .user-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header-page .user #logout {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #1B1B1D;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0;
    cursor: pointer;
    transition: all .5s;
}

.header-page .user #logout:hover {
    background: #fff;
    color: #000;
}

/* ESTILOS PARA MENU ABIERTO */
.header-page .navbar.open {
    width: 250px;
}

.header-page .navbar.open ~ .container {
    left: 250px;
    width: calc(100% - 250px);
}

/* Logo container */
.header-page .navbar.open .logo-container .logo-name {
    opacity: 1;
}

.header-page .navbar.open .logo-container #btn-toggle {
    right: 0;
}

/* Menu */
.header-page .navbar.open li .tooltip {
    display: none;
}

.header-page .navbar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.header-page .navbar.open .bx-search {
    width: 0;
}

.header-page .navbar.open li a .links {
    opacity: 1;
    pointer-events: auto;
}

/* User */
.header-page .navbar.open .user #logout {
    width: 50px;
    background: none;
}

.header-page .user img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.header-page .user .name,
.header-page .user .job {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.header-page .user .job {
    font-size: 12px;
}

/* -------------------------------------- HOME.PHP - ESTILOS PARA LA PAGINA DE INICIO --------------------------------- */

.home-page {
    background-image: url('img/cecyte_fondo.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    margin: 0; /* Elimina los márgenes */
}

.welcome-message {
    text-align: left; /* Alineación a la izquierda */
    margin-top: 50px;
    padding: 20px;
    margin-left: 300px;
}
.welcome-message h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black; /* Texto en negro */
}
.welcome-message .tutor-home {
    color: #6ABF4B; /* Nombre y apellidos en verde */
}
.welcome-message .estudiante-home {
    color: #6ABF4B; /* Nombre y apellidos en verde */
}

/* -------------------------------------- SOLICITUD.PHP - ESTILOS PARA LA PAGINA DE INICIO --------------------------------- */


/* Estilos solo para elementos dentro de .solicitud-page */
.solicitud-page {
    background-image: url('img/cecyte_fondo.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    margin: 0; /* Elimina los márgenes */
}

.container-solicitud {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:disabled {
    background-color: #e9e9e9;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.success-message {
    color: #28a745;
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: #dc3545;
    text-align: center;
    margin-bottom: 20px;
}

.bx {
    font-size: 1.2em; /* Tamaño del icono */
    color: #28a745; /* Color del icono */
    margin-right: 0px; /* Espacio entre el icono y el texto */
}